.channel{
    position:relative;
    width: 700px;
    /* height: auto; */
    max-width: 80%;
    border-radius: 20px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    margin: auto;
}
.mute{
    padding-bottom: "4px";
    &.white{
        color:white;
    }
    &.black{
        color:black;
    }
}